## Bivariate Analysis
- labels and features
 - numeric and numeric (Pearson correlation, scatterplot)
 - categorical and numeric (One way anova, bar chart )
 - categorical and categorical (pearson chi-square, crosstab)
 
 ### Relationship should be between any of features and label

In [5]:
# numeric to numeric (age, bmi, and children to charges) lets do bmi and charges
import numpy as np
height = [60, 62, 65, 68, 70, 74]
weight = [140, 138, 150, 166, 190, 250]
corr = np.corrcoef(height, weight)
print(corr)
print(corr[0][1])

[[1.         0.92989745]
 [0.92989745 1.        ]]
0.9298974521408027

In [7]:
import pandas as pd
df = pd.read_csv("insurance.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [9]:
df[["age", "bmi", "children", "charges"]].corr()

               age       bmi  children   charges
age       1.000000  0.109272  0.042469  0.299008
bmi       0.109272  1.000000  0.012759  0.198341
children  0.042469  0.012759  1.000000  0.067998
charges   0.299008  0.198341  0.067998  1.000000

In [12]:
df.charges.corr(df.bmi)

0.19834096883362884

In [13]:
df["charges"].corr(df["children"])

0.06799822684790487

In [19]:
from scipy import stats
r, p = stats.pearsonr(df.charges, df.age)
print(r) #
print(p) #

0.2990081933306478
4.886693331718271e-29

In [23]:
corr_df = pd.DataFrame(columns=['r', 'p'])
for col in df[["age", "bmi", "children"]]:
    r,p = stats.pearsonr(df.charges,df[col])
    corr_df.loc[col] = [round(r, 3), round(p,3)]
    
corr_df

              r      p
age       0.299  0.000
bmi       0.198  0.000
children  0.068  0.013