In [1]:
# libraries for linear regression
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

# LIbraries for logistic regression
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("salary_data.csv")
df.head()

    age  years_experience    salary  salary_greater_then_average
0  32.0               5.0   90000.0                            0
1  28.0               3.0   65000.0                            0
2  45.0              15.0  150000.0                            1
3  36.0               7.0   60000.0                            0
4  52.0              20.0  200000.0                            1

In [ ]:
df = drop(columns= ["alary_greater_then_average"])